@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: moderfb;
    src: url(/assets/fonts/modernofbcomp-bold.otf);
}

* {
    font-family: "Noto Serif", serif;
}

.moderfb {
    font-family: moderfb;
}

body {
    background-image: url('/assets/images/png/dotted-layer.png');
}

.slider-bg {
    background-image: url(../images/png/team-slider-bg.png);
}

button {
    cursor: pointer;
}

.justify-left {
    justify-content: left;
}

.top-scroll {
    animation: scroll 20s ease-in-out infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}